<!doctype html>
<html>
  <head>
    <title> Error </title>
    <link rel="stylesheet" href="/public/styles/server.css">
  </head>
  <body>
    <h1> {{titleMessage}}</h1>
    <p>{{message}}</p>
  </body>
</html>
