<!doctype html>
<html>
  <head>
    <title> Error </title>
  </head>
  <style>
    body{
      font-family: Arial;
      font-size: 17px;
    }
  </style>
  <body>
    <h1> {{titleMessage}}</h1>
    <p>{{message}}</p>
  </body>
</html>
