<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/public/styles/server.css">
</head>

<body>
  <div id="containerparent">
  <div class="container">
    <h1> Movie club </h1>
    <h4> Log in </h4>
    <form class="logininput" action="/login" method="post">
      <label for="email">Email:</label>
      <input class="logininput" type="email" name="email">
      <label for="password">Password:</label>
      <input class="logininput" type="password" name="password">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit">Sign in</button>
    </form>

    <form class="logininput" action="/register" method="get">
      <div> <p> Create an account?</p> <button type="submit"> Sign up </button></div>
    </form>

    <form class="logininput" action="/guestlogin" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit">Continue as guest </button>
    </form>
    {{message}}
  </div>
  </div>
</body>

</html>