body {
    font-family: Arial;
    font-size: 17px;
    background-image: url("https://images.pexels.com/photos/1484759/pexels-photo-1484759.jpeg");
    background-size: cover;
  overflow: scroll;
    background-blend-mode: color-burn;
  }

  .positive{
    color: green;
  }
  .negative{
    color: red;
  }
  .btn:hover {
    background-color: #106BB2;
  }
  form{
    margin: 5px;
  }
  input{
    margin-bottom: 5px;
  }
  #containerparent {
    text-align: center;
  }
  #containerparent .container {
    display: inline-block;
    width: 650px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    opacity: 0.9;
  }
  .logininput{
    padding: 5px;
  }
  .loginform{
    margin: 10px;
  }
  .events {

    opacity: 0.8;
  }
  .events ul li {
    list-style-type: none;
  }
  .container {
    display: inline-block;
    width: 650px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  

  
  
  .animatedbtn {
    background:rgb(154, 182, 31);
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .animatedbtn:hover{
    background:#fff;
    color:rgb(155, 184, 29);
  }
  .animatedbtn:before,.animatedbtn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(112, 247, 173);
    transition:400ms ease all;
  }
  .animatedbtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .animatedbtn:hover:before,.animatedbtn:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  