body {
    font-family: Arial;
    font-size: 17px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/250/856/large_2x/mountain-view-vector-design.jpg");
    background-size: cover;
    overflow: "hidden";
  }
  .positive{
    color: green;
  }
  .negative{
    color: red;
  }
  .btn:hover {
    background-color: #106BB2;
  }
  form{
    margin: 5px;
  }
  input{
    margin-bottom: 5px;
  }
  #containerparent {
    text-align: center;
  }
  #containerparent .container {
    display: inline-block;
    width: 650px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  .logininput{
    padding: 5px;
  }
  .loginform{
    margin: 10px;
  }
  .events {
    border-radius: 10px;
    background-color: rgba(246, 255, 225, 0.89);
    opacity: 0.8;
    width: 400px;
    
  }
  
  